@charset "ISO-8859-1";

* {
    font-size: 100px;
}
//asdjnflaksjdnflaksjdnflakjsdnflaksjdfnlakjsdf
h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    text-align: center;
    display: inline-block;
    top: 50%;
   /* left: 50%; */
}

form {
    text-align: center;
}

a {
    text-align: center;
}
input {
    height: 100px;
    width: 1000px;
}

.container-inception {
    vertical-align: middle;
}

.superbutton {
    height: 1200px;
    width: 1200px;
}
